<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
	  <%= f.label :price %>
	<div class="row collapse">
		<div class="small-2 columns">
		  <span class="prefix radius">$</span>
		</div>
		<div class="small-10 columns">
			<%= f.text_field :price %>
		</div>
	</div>
  </div>
  <div class="field">
    <%= f.label :multiple %><br />
    <%= f.text_field :multiple %>
  </div>
  <div class="field">
    <%= f.label :extended %><br />
    <%= f.text_field :extended %>
  </div>
  <div class="field">
    <%= f.label :compatible %><br />
    <%= f.text_field :compatible %>
  </div>
	<% versions = { '5' => '5', '4' => '4', '3' => '3' }%>
  <div class="field">
    <%= f.label :version %><br />
	<% list = versions.sort %> <%= f.select :version, list %>
  </div>
	<% browsers = { 'latest firefox' => 'firefox', 'latest safari' => 'safari', 'Latest chrome' => 'chrome', 'Internet explorer 11' => 'ie11', 'Internet explorer 10' => 'ie10', 'Internet explorer 9' => 'ie9'   }%>
  <div class="field">
	<fieldset>
	<legend>Browser</legend> 
	<% browsers.each do |a_value| %>
		<%= f.check_box(:browser, { :multiple => true }, a_value) %>
		<%= f.label :browser, a_value[0] %><br />
	<% end %>
	 </fieldset>
	</div>
	<% preprocessors = { 'SASS' => 'SASS', 'LESS' => 'LESS', 'STYLUS' => 'STYLUS' }%>
  <div class="field">
    <%= f.label :preprocessor %><br />
    <% list = preprocessors.sort %> <%= f.select :preprocessor, list %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :screenshot %><br />
    <%= f.file_field :screenshot %>
  </div>
  <div class="field">
    <%= f.label :exclusive %><br />
    <%= f.check_box :exclusive %>
  </div>
  <div class="field">
    <%= f.label :preview %><br />
    <%= f.text_field :preview %>
  </div>
  <div class="field">
    <%= f.label :term %><br />
    <%= f.check_box :term %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button success right' %>
  </div>
<% end %>
