<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @template.name %>
</p>

<p>
  <b>Price:</b>
  <%= @template.price %>
</p>

<p>
  <b>Multiple:</b>
  <%= @template.multiple %>
</p>

<p>
  <b>Extended:</b>
  <%= @template.extended %>
</p>

<p>
  <b>Compatible:</b>
  <%= @template.compatible %>
</p>

<p>
  <b>Version:</b>
  <%= @template.version %>
</p>

<p>
  <b>Browser:</b>
  <%= @template.browser %>
</p>

<p>
  <b>Preprocessor:</b>
  <%= @template.preprocessor %>
</p>

<p>
  <b>Category:</b>
  <%= @template.category %>
</p>

<p>
  <b>Tag:</b>
  <%= @template.tag %>
</p>

<p>
  <b>Description:</b>
  <%= @template.description %>
</p>

<p>
  <b>Screenshot:</b>
  <%= image_tag @template.screenshot.url(:square) %>
</p>

<p>
  <b>Exclusive:</b>
  <%= @template.exclusive %>
</p>

<p>
  <b>Preview:</b>
  <%= @template.preview %>
</p>

<p>
  <b>Term:</b>
  <%= @template.term %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
